/* To do's
    - menu open on mobile
    - Mobile menu smooth transition
    - 
 */

:root {

    --clr-dark: 230 35% 7%;
    --clr-light-blue: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --clr-gold: #F0A500;
    --clr-dark-light: #393E46;
    --clr-black: #180A0A ;
    --clr-grey: #737477;


    --fs-900: 9.375rem; 
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: 'Barlow', sans-serif;
    --ff-serif: 'Bellefair', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
picture {
    margin: 0;
}

ul,
li {
    list-style: none;
    text-decoration: none;
    padding: 0;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: hsl(var(--clr-dark));
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}

/* Utility classes */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding: 0 2em;
    max-width: 80rem;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 2em minmax(0,40rem) minmax(0,40rem) 2em;
}

/* ------- */

html.sr .load-hidden {
    visibility: hidden;
}

/* fonts */

.ff-cond {
    font-family: var(--ff-sans-cond);
}

.ff-serif {
    font-family: var(--ff-serif);
}

.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fs-200 {
    font-size: 0.875rem;
}
.fs-300 {
    font-size: 1rem;
}
.fs-400 {
    font-size: 1.125rem;
}
.fs-500 {
    font-size: 1.75rem;
}
.fs-600 {
    font-size: 2rem;
}
.fs-700 {
    font-size: 3.5rem;
}
.fs-800 {
    font-size: 6.25rem;
}
.fs-900 {
    font-size: 9.375rem;
}

.text-white {
    color: hsl(var(--clr-white));
}
.text-dark {
    color: hsl(var(--clr-dark));
}
.text-gold {
    color: var(--clr-gold);
}

.text-dark-light {
    color: var(--clr-dark-light);
}

.text-grey {
    color: var(--clr-grey);
}

.uppercase {
    text-transform: uppercase;
}

.underscore {
    text-decoration: underline;
}

/* ------- */

.bg-dark {
    background-color: hsl(var(--clr-dark));
}

/* buttons */

.btn-dark {
    background-color: hsl(var(--clr-white));
    border: 1px solid hsl(var(--clr-dark));
    border-radius: 30px;
    cursor: pointer;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
}

.btn-light {
    border: 1px solid hsl(var(--clr-white));
    border-radius: 30px;
    background-color: transparent;
    color: hsl(var(--clr-white));
    cursor: pointer;
    padding: 1em;
    margin: 2em auto;
    text-align: center;
}

.btn-block_light {
    border: none;
    padding: 20px 103px;
    cursor: pointer;
    max-width: max-content;
}

.btn-block_dark {
    border: none;
    padding: 20px 100px;
    background-color: var(--clr-dark-light);
    color: hsl(var(--clr-white));
    cursor: pointer;  
    margin: 0 auto;
}

/* hover states */

.btn-light:hover {
    background-color: hsl(var(--clr-dark));
    color: var(--clr-gold);
}

.btn-dark:hover {
    background-color: hsl(var(--clr-dark));
    color: var(--clr-gold);
}

.btn-block_dark:hover {
    background-color: var(--clr-black);
}

/* navigation */

nav {
    padding: 1em;
    background-color: hsl(var(--clr-dark));
    display: flex;
    justify-content: space-between;
}

.card {
    display: none;
}

.logo {
    font-family: var(--ff-serif);
}

#nav_mob_links {
    display: none;
    background-color: var(--clr-black);
    position: absolute;
    text-transform: uppercase;
}

.nav_list {
    text-align: center;
    letter-spacing: 3px;
    margin: 6em;
}

.nav_link {
    color: hsl(var(--clr-white));
}

.nav_link:hover {
    color: var(--clr-gold);
    transition: 800ms;
}

.mob_link {
 padding: 0 0 2.2em;
}

/* hero section */

.hero_bg {
   background-image: url(assets/Backgrounds/Cybertruck-Image.jpg); 
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 55vh;
   width: 100%;
}

.hero_bg {
    padding: 5em 0;
}

.hero_title {
    text-align: left;
}
.hero_container {
    margin: 2em 0;
}

.hero_text {
    margin: 3em 0 ;
}

.search {
    text-align: left;
}

/*  --- */
/* grid containers */

.grid_container {
    display: none;
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr); */
}

.grid_container_gallery {
    display: block;
    gap: 3em;
    margin: 7em auto;
}


@media(min-width:768px){
  .grid_container_gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }  
}

@media(min-width: 1000px){
 .grid_container_gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
 }  
}

/* occasions page */
.search_container {
    padding: 2em;
    display: block;
    text-align: center;
}

.search_title {
    margin: 0 0 1em;
}

.car_title {
    margin: 1em 0 0 ;
}
.car_description {
    margin: 0 0 1em; 
}

.car_info {
    margin: 1em 0 1em;
}

.car_image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
    height: 35vh;
    width: 100%;
}

.car_image:hover {
    opacity: 0.3;
    cursor: pointer;
}
/* cta container */

.cta {
    margin: 5em 2.1em 5em;
}

.bg_car {
    background-image: url(assets/backgrounds/tesla-backgrounds-images.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    max-width: 100%;
}

.bg_car2 {
    background-image: url(assets/Backgrounds/Taycan-Image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    max-width: 100%;
}

.cta_container {
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark) /0.5);
    height: 100%;
    padding: 1em;
    z-index: 2;
}

@media screen and (min-width: 1400px) {

    .cta_container {
        color: hsl(var(--clr-white));
        background-color: hsl(var(--clr-dark) /0.5);
        height: 100%;
        padding: 1em;
        z-index: 2;
    }
  }

.cta_heading {
    color: hsl(var(--clr-white));
    margin: 0 0 1em;
    text-align: left;
}

.cta_intro {
    padding: 1em 2em 0;
    margin: 1em 0 1em;
}

.cta_image {
    display: none;
}

.cta_links {
    margin: 1em 0 0 ;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* contact page */

.contact_container {
    padding: 1em;
    height: 100%;
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark) /0.5);
}

.hr {
    border: 1px solid hsl(var(--clr-dark) /0.5);
    margin: 3em 0 0;
}

.contact_heading {
    margin: 0 0 1em;
}

.info_title {
    margin: 0.5em 0 1em;
}

.form {
    padding: 1em 0 0 ;
}

#fname {
    margin: 0 0 10px;
    width: 100%;
}

#email {
    margin: 0 0 10px;
    width: 100%;
}

textarea {
    margin: 0 0 10px;
    min-height: 130px;
    width: 100%;
}

input[type=submit] {
    width: 100%;
    background-color: var(--clr-gold);
    color: white;
    padding: 14px 20px;
    margin: 8px 0 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media(min-width:900px){
    .info_container {
        display: flex;
        justify-content: space-between;
    }

    input[type=submit] {
        width: 20%;
        background-color: var(--clr-gold);
        color: white;
        padding: 14px 20px;
        margin: 8px 0 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    form {
        margin: 5em 0 5em;
    }
}

/* ------- */

/* footer */

footer {
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    padding: 3em 0 3em;
}

.socials {
    display: flex;
}

.social_link {
    padding: 0 5px 0;
    margin: 0 0 2em;
}

li.nav_desk_links  {
    display: none;
}

.pay_list {
    display: flex;
    margin: 1em 0 1em;
}

.pay_links {
    margin-right: 20px;
}


/* afleverpakket page */

.pakket_container {
    flex-direction: column;
    padding: 1em 0 1em;
}

.pakket_title {
    margin: 0 0 1em;
}

.pakket_links {
    padding: 0 0 .5em;
}

.pakket_title_2 {
    margin: 0 0 1em;
    width: 80%;
    text-align: left;
}

.repair_image {
    width: 100%;
}
.repair_image_2 {
    width: 100%;
}

@media(min-width: 900px){
    .pakket_container {
        flex-direction: row;
        padding: 4em 6em;
    }    
}

/* ------ */


/* Contact page */

.info_container {
    margin: 5em 0 0 ;
}

/* About page */

.title_about {
    margin: 1em 0 1em;
}

.text_about {
    margin: 0 0 5em;
    display: block;

}

.img_aboutus {
    margin: 1em 0 2em ;
    width: 100%;
}



@media(min-width: 900px){

    /* navigation */

    .nav_desk {
        background-color: hsl(var(--clr-dark));
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 5em;
        width: 100%;
    }

    li.nav_desk_links  {
        display: block;
        letter-spacing: 4px;
        white-space: nowrap;
    }

    li.nav_desk_links:hover {
        color: var(--clr-gold);
        cursor: pointer;
        transition: 800ms;
    }

    .logo {
        font-size: var(--fs-500);
    }

    svg.hamburger {
        display: none;
    }

    h2 {
        text-align: center;
        margin: 2em 0 0 ;
    }

    h3 {
        padding: 0 0 1em;
    }

    .hero_title {
        text-align: center;
        font-size: var(--fs-700);
    }

    /* occasions page */

    .search_container {
        display: flex;
    }

    .btn_container {
        display: flex;
        width: 50%;
    }

    @media(min-width:900px) and (max-width: 1000px){
        .btn_container {
            display: block;
        }
    }
    .search_title {
        margin: 0 4.6em;
        display: block;
        white-space: nowrap;
    }

    /* buttons */

    .btn-block_light {
        border: none;
        padding: 1em 7em;
        cursor: pointer;
    }

    .btn-block_dark {
        border: none;
        padding: 1em 5.4em;
        background-color: var(--clr-dark-light);
        color: hsl(var(--clr-white));
        cursor: pointer;  
    }

    .grid_container {
        margin: 2em 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .car_title {
        text-align: left;
    }

    .hero_bg {
        height: 91vh;
    }

    .hero_container {
        text-align: center;
        margin: 5em 0 5em;
    }

    /* main area */

    .grid_container {
        display: grid;
        grid-template-columns: repeat(6,1fr);
    }


    .card {
        display: block;
        color: hsl(var(--clr-white));
        background-color: hsl(var(--clr-dark) /0.5);
        border-radius: 20px;
        padding: 1em;
        position: relative;
        top: 17.5em;
        left: 3em;
        width: 30%;
    }

    .card-title {
        width: 70%;
    }

    .socials_list {
        display: flex;
    }   

    .socials_card_link {
        margin-right: 25px;
    }

    /* hover states */

    :hover.socials_card_link,
    :hover.social_link {
        color: var(--clr-gold);
        cursor: pointer;
        transition: 800ms;
    }

    /* ------ */

    /* .bg_car {
        background-image: url(assets/backgrounds/tesla-backgrounds-images.jpg);
        height: 650px;
    } */

    .cta_container {
        position: relative;
        left: 35em;
        background-color: hsl(var(--clr-dark) /0.5);
        max-width: 45%;
        height: 100%;
    }

    section {
        height: 750px;
    }

    .cta_heading {
        margin: 0 0 1em;
    }

    .cta_text {
        margin: 0 0 3em;
    }

    /* intro cta */

    .cta {
        display: flex;
        justify-content: space-between;
    }

    .cta_intro {
        text-align: center;
        margin-top: 5em;
    }

    .cta_intro_title {
        font-size: var(--fs-700);
    }

    .cta_image {
        display: block;
        border-radius: 20px;
        margin: 1em auto;
        width: 50%;
    }

    /* contact section */

    .bg_car2 {
        height: 650px;
    }

    .contact_container {
        position: relative;
        left: 8em;
        background-color: hsl(var(--clr-dark) /0.5);
        max-width: 45%;
        height: 100%;
    }

    .contact_heading {
        margin: 0 0 1em;
        text-align: left;
    }

    .contact_text {
        margin: 0 0 3em;
    }

    /* footer section */

    .footer_container {
        display: flex;
        justify-content: space-between;
    }

    .footer_time {
        padding: 0 0 .5em;
    }

    .pay_list {
        display: flex;
        padding: 1em;
    }

    .pay_links {
        margin-right: 25px;
    }

    /* Over ons page */
    
    .text_container {
        display: flex;
    }   
    .text_about {
        max-width: 600px;
    }
    .img_aboutus {
        display: block;
        margin: 0 0 1em;
        max-width: 550px ;
        max-height: 1000px ;
        height: auto;
        width: auto;
    }
    .about_p {
        width: 90%;
    }
}   

