:root {
    --clr-dark: 230 35% 7%;
    --clr-light-blue: 231 77% 90%;
    --clr-white: 0 0% 100%;

    --fs-900: 9.375rem; 
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: 'Barlow', sans-serif;
    --ff-serif: 'Bellefair', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
picture {
    margin: 0;
}

ul,
li {
    list-style: none;
    text-decoration: none;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
}



a {
    text-decoration: none;
    color: hsl(var(--clr-dark));
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding: 0 2em;
    max-width: 80rem;
    margin: 0 auto;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 2em minmax(0,40rem) minmax(0,40rem) 2em;
}

/* fonts */

.ff-cond {
    font-family: var(--ff-sans-cond);
}

.ff-serif {
    font-family: var(--ff-serif);
}

.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.text-white {
    color: hsl(var(--clr-white));
}
.text-dark {
    color: hsl(var(--clr-dark));
}

.uppercase {
    text-transform: uppercase;
}

.underscore {
    text-decoration: underline;
}

/* ------- */

/* buttons */

.btn-dark {
    background-color: hsl(var(--clr-white));
    border: 1px solid hsl(var(--clr-dark));
    border-radius: 30px;
    cursor: pointer;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
}

.btn-light {
    border: 1px solid hsl(var(--clr-white));
    border-radius: 30px;
    background-color: transparent;
    color: hsl(var(--clr-white));
    cursor: pointer;
    padding: 1em;
    margin: 2em auto;
    text-align: center;
}


.btn-dark:hover{
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
}

.btn-light:hover{
    background-color: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
}

/* navigation */

.logo {
    font-family: var(--ff-serif);
}

#nav_links {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: hsl(var(--clr-dark));
}

/* hero section */

.hero_bg {
   background-image: url(/assets/Backgrounds/Cybertruck-Image.jpg); 
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 55vh;
   width: 100%;
}

.hero_bg {
    padding: 5em 0;
}

h1 {
    text-align: center;
}
.hero_container {
    margin: 2em 0;
}
.hero_text {
    margin: 3em 0 ;
}

/*  --- */

.grid_container {
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

/* cta container */

.cta {
    margin: 5em 0 5em;
}

.bg_car {
    background-image: url(/assets/Backgrounds/Tesla_model_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    max-width: 100%;
}

.bg_car2 {
    background-image: url(/assets/Backgrounds/Taycan-Image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    max-width: 100%;
}

.cta_container {
    color: hsl(var(--clr-white));
    padding: 1em;
    z-index: 2;
}

.cta_heading {
    text-align: left;
}

.cta_intro {
    padding: 1em 2em 0;
    margin: 1em 0 1em;
}

.cta_image {
    display: none;
}

.cta_links {
    margin: 1em 0 0 ;
}

/* contact */

.contact_container {
    padding: 1em;
    height: 100%;
    color: hsl(var(--clr-white));
}